<div id="<%= dom_id dino %>">
  <div>
    <strong>Name:</strong>
    <%= dino.name %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= dino.category %>
  </div>

  <div>
    <strong>Period:</strong>
    <%= dino.period %>
  </div>

  <div>
    <strong>Diet:</strong>
    <%= dino.diet %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= dino.age %>
  </div>

  <div>
    <strong>Health:</strong>
    <%= dino.health %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= dino.comment %>
  </div>

  <div>
    <strong>Age metrics:</strong>
    <%= dino.age_metrics %>
  </div>

</div>
